{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
  <meta name="robots" content="noindex, nofollow" />
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <style type="text/css">
    body {
      border: 0;
      margin: 0;
      padding: 0;
    }

    .video-js {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .video-js .vjs-big-play-button {
      width: 10%;
      height: 20%;
      position: absolute;
      left: 45%;
      top: 40%;
    }
  </style>
</head>

<body>
  <video
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup="{}"
  >
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
  </video>

  <script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
  <script type="text/javascript">
  	var player = videojs('my-player');
player.src({
  src: "/static/m3u/{{ channel_id }}/{{ channel_id }}.m3u",
  type: "application/x-mpegURL",
  withCredentials: true
});
  </script>
</body>

</html>
