{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <title>My IPTV | Exclusive IPTV player</title>
  <meta name="robots" content="noindex, nofollow" />
  <style type="text/css">
    body {
      background-image: url("/static/img/main_bg.jpg");
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: arial, verdana, serif;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .groups {
      top: 20%;
      left: 10%;
    width: 20%;
    height: 60%;
    display: block;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgba(0,0,0,0.5);
}
    .channels {
      top: 20%;
      left: 30%;
    width: 20%;
    height: 60%;
    display: block;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgba(0,0,0,0.5);
}
    .groups a {
      display: block;
      color:  #FFF;
      font-size: 130%;
      padding: 0.3em;
      cursor: pointer;
}
    .groups a.active {
      background: #002e57;
}
    .channels a {
      display: block;
      color:  #FFF;
      font-size: 130%;
      padding: 0.3em;
      cursor: pointer;
}
    .channels a.active {
      background: #002e57;
}
    .player {
    position: absolute;
    overflow: hidden;
    top: 20%;
    height: 60%;
    width: 40%;
    left: 50%;
    background: rgba(0,0,0,0.5);
}

    .player iframe {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .groups-title {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      position: absolute;
      background: #0b579b;
      padding: 1%;
      width: 18%;
      left: 10%;
      height: 3%;
      line-height: 125%;
      top: 13%;
      color: #FFF;
    }

    .channels-title {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      position: absolute;
      background: #0b579b;
      padding: 1%;
      width: 18%;
      left: 30%;
      height: 3%;
      line-height: 125%;
      top: 13%;
      color: #FFF;
    }

    .player-title {
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      position: absolute;
      background: #0b579b;
      padding: 1% 2%;
      width: 36%;
      left: 50%;
      height: 3%;
      line-height: 125%;
      top: 13%;
      color: #FFF;
    }

  </style>
  <script src="/static/js/jquery-3.4.1.js"></script>
  <script type="text/javascript">
  </script>
</head>

<body>
  <div class="groups-title">
    Category
  </div>
  <div class="channels-title">
    Channel
  </div>
  <div class="player-title"></div>

  <div class="groups"></div>
  <div class="channels"></div>
  <div class="player"></div>

  <script type="text/javascript">
    var channels_json = {{ channels|safe }};
    var groups_wrapper = $('.groups');
    var channels_wrapper = $('.channels');
    var player_wrapper = $('.player');
    var player_title_wrapper = $('.player-title')

    $.each(channels_json.groups, function(index, group) {
      groups_wrapper.append(
          '<a data-id="' + group.number + '">' + group.title + '</a>'
        )
    });

    $(document).on('click', '.groups a', function() {
      var channels_wrapper = $('.channels');
      var group_id = $(this).attr("data-id");
      console.log(group_id);
      $('.groups a').removeClass("active");
      channels_wrapper.html("");
      player_wrapper.html("");
      player_title_wrapper.text("");
      $(this).addClass("active");
      $.each(channels_json.channels, function(index, channel) {
        if (parseInt(channel.channel_group_id) === parseInt(group_id) ) {
          channels_wrapper.append(
              '<a data-id="' + channel.channel_no + '">' + channel.channel_name + '</a>'
            )
          }
        });
    });

    $(document).on('click', '.channels a', function() {
      var channel_id = $(this).attr("data-id");
      var channel_name = $(this).text();

      $('.channels a').removeClass("active");
      player_wrapper.html("");
      $(this).addClass("active");

      player_title_wrapper.text(channel_name);

      player_wrapper.html('<iframe allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" src="/channel/' + channel_id +'/" width="100%" height="100%"></iframe>')
    });
  </script>

</body>

</html>
